<!DOCTYPE html>
<html>
<head>
    <title>Seu Outro Site</title>
</head>
<body>
    <h1>Frase Inicial: {{ dados[0] }}</h1>
    <p>Frase Secundária: {{ dados[1] }}</p>
    <p>Sobre a Empresa: {{ dados[2] }}</p>
    <p>Sobre o Produto: {{ dados[3] }}</p>
    <!-- Adicione outros campos de acordo com suas necessidades -->
    <img src="{{ dados[10] }}" alt="Logo">
    <img src="{{ dados[11] }}" alt="Imagem do Produto 1">
    <img src="{{ dados[12] }}" alt="Imagem do Produto 2">
    <img src="{{ dados[13] }}" alt="Imagem do Produto 3">
    <img src="{{ dados[14] }}" alt="Imagem de Fundo">
    <img src="{{ dados[15] }}" alt="Imagem Secundária">
</body>
</html>
